<div class="row justify-content-center">
  <div class="row">
    <h2>Contact Me:</h2>
  </div>
</div>
<div class="row justify-content-center">
  <div class="card" style="width: 20rem;">
    <%= image_tag("ps.jpg", class: "card-img-top") %>
    <div class="card-block">
      <h4 class="card-title">Pauline Singleton</h4>
      <p class="card-text">Inspired by my Mom and Mother-in-love, encouraged by my two daughters, and pushed into action by many family and friends.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Email: <a href="oilsofjoy613@gmail.com"> oilsofjoy613@gmail.com</a></li>
      <li class="list-group-item">Phone: 940.887.9039</li>
    </ul>
    <div class="card-block">
      <a target="_blank" href="https://www.facebook.com/oilsofjoy613/" class="card-link">Facebook</a>
      <a target="_blank" href="https://www.youngliving.com/vo/#/signup/new-starter-kits" class="card-link">Young Living</a>
    </div>
  </div>
</div>