<div class="row">
  <div class="jumbotron">
    <h1 class="row justify-content-center">HOME</h1>
    <div class="row justify-content-center">
      <%= image_tag("ooj_image2.jpg", class: "img-fluid") %>
    </div>
    <div>
      <p>Welcome to Oils Of Joy!!! 
       Here you’ll find a variety of my home-made bath  and shower scrubs, hand creams, body oils and so much more all made with Pure Essential Oils!   Feel free to contact me with any questions or to make a purchase!  Blessings and Have JOY!!</p>
    </div>
  </div>
</div>