<div class="container">
  <form>
    <%= form_tag(sessions_path) do %>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">
          Email
        </label>
        <div class="col-sm-8">
          <%= text_field_tag :name, '', placeholder: "Name" %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">
          Password
        </label>
        <div class="col-sm-8">
          <%= password_field_tag :password, '', placeholder: "Password" %>
        </div>
      </div>

      <%= submit_tag "Sign Up" %>

    <% end %>
  </form>
</div>