<!-- <div class="form-group row">
  <label class="col-1 col-form-label"><%#= vc_builder.label "Volume" %></label>
  <%#= vc_builder.number_field :volume, step: 0.01 %>
  <div class="input-group-addon">ozs</div>

  <label class="col-1 col-form-label"><%#= vc_builder.label "Cost" %></label>
  <div class="input-group-addon">$</div>
  <%#= vc_builder.number_field :cost, step: 0.01 %>
</div>  --> 

<div class="form-group row">
  <label class="col-1 col-form-label"><label for="product_volume_costs_attributes_Volume">Volume</label></label>
  <input step="0.01" type="number" value="0.0" name="product[volume_costs_attributes][][volume]" id="product_volume_costs_attributes_volume">
  <div class="input-group-addon">ozs</div>

  <label class="col-1 col-form-label"><label for="product_volume_costs_attributes_Cost">Cost</label></label>
  <div class="input-group-addon">$</div>
  <input step="0.01" type="number" value="0.0" name="product[volume_costs_attributes][][cost]" id="product_volume_costs_attributes_cost">
</div>