<div class="container-fluid">

  <div class="row">
    <div class="col-12 col-md-auto">
      <h2><%= @category.name %></h2>
    </div>
    <% if allowed? %>
    <div class="col">
      <%= link_to "New #{@category.name.singularize}", new_category_product_path(@category.id), class: "btn btn-secondary" %>
    </div>
    <% end %>
  </div>

  <%= render partial: 'product_details', collection: @products, as: :product %>

</div>