<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Oils of Joy</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <%= nav_link_helper("Oils", oils_path) %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Products
        </a>
        <%= product_category_index_dropdown %>
      </li>
      <% if current_user.try(:admin?) %>
        <%= render partial: 'layouts/navbar_admin_items' %>
      <% end %>
    </ul>
  </div>
  <%= authentication_items %>
</nav>